@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,115,1) 49%, rgba(0,212,255,1) 100%);

}
.header{
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  background-color: black;
text-align: center;
}
  
li{
  display: inline-block;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 30px;
  
}
  
nav{
  text-align: center;
}
.sec{
  background-color: aqua;
  font-family: 'Ubuntu', sans-serif;
}
.art{
  background-color: navy;
  color: white;
}
.ad{
  text-align: right; 
  text-align: right;
  
}
footer.foot{
  font-size: 50px;
}
input{
  width:50%;
  padding:10px;
  border-radius:4px;
  border:2px solid #141E30;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}
 
 
legend{
  font-size:30px;
  color:#4a3f3e;
  padding:15px;
}
 
fieldset{
 margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:30px;
  width:90%;
  border:none;
  border-top:3px solid #141E30;
 
}
 
textarea{
  width: 50%;
  font-size:20px;
  resize: none;/*blokujemy możliwość zmiany wielkości przez użytkownika*/
  margin-bottom:20px;
  padding:10px;
  border:2px solid #141E30;
  border-radius:4px;
}
 
label{
  display:block;/*dodajemy żeby można było ustawić marginesy*/
  margin-top:10px;
  margin-bottom:10px;
  font-size:20px;
}
.button{
  background-color: green;
  text-align: center;
  font-size: 30px;
  
}
a {
   text-decoration: none;
   
}