@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,44,115,1) 49%, rgba(0,212,255,1) 100%);

}
.header{
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  background-color: black;
text-align: center;
}
  
li{
  display: inline-block;
  font-family: 'Kdam Thmor Pro', sans-serif;
  
}
  
nav{
  text-align: center;
}
.sec{
  background-color: aqua;
  font-family: 'Ubuntu', sans-serif;
}
.art{
  background-color: navy;
  color: white;
}
.ad{
  text-align: right; 
  text-align: right;
}
footer.foot{
  font-size: 50px;
}
* { 
			margin: 0; 
			padding: 0;
		}
		body { 
			font: 100% normal Arial, Helvetica, sans-serif; 
			background: #161712;
		}
		form, input, select, textarea {
			margin:0; 
			padding:0; 
			color:#ffffff;
		}
 
		div.box {
			margin:0 auto;
			width:500px;
			background:#222222;
			position:relative;
			top:50px;
			border:1px solid #262626;
		}
 
		div.box h1 { 
			color:#ffffff;
			font-size:18px;
			text-transform:uppercase;
			padding:5px 0 5px 5px;
			border-bottom:1px solid #161712;
			border-top:1px solid #161712; 
		}
 
		div.box label {
			width:100%;
			display: block;
			background:#1C1C1C;
			border-top:1px solid #262626;
			border-bottom:1px solid #161712;
			padding:10px 0 10px 0;
		}
 
		div.box label span {
			display: block;
			color:#bbbbbb;
			font-size:12px;
			float:left;
			width:100px;
			text-align:right;
			padding:5px 20px 0 0;
		}
 
		div.box .wpis {
			padding:10px 10px;
			width:200px;
			background:#262626;
			border-bottom: 1px double #171717;
			border-top: 1px double #171717;
			border-left:1px double #333333;
			border-right:1px double #333333;
		}
 
		div.box .wiadomosc {
			padding:7px 7px;
			width:350px;
			background:#262626;
			border-bottom: 1px double #171717;
			border-top: 1px double #171717;
			border-left:1px double #333333;
			border-right:1px double #333333;
			overflow:hidden;
			height:150px;
		}
 
		div.box .button	{
			margin:0 0 10px 0;
			padding:4px 7px;
			background:#CC0000;
			border:0px;
			position: relative;
			top:10px;
			left:382px;
			width:100px;
			border-bottom: 1px double #660000;
			border-top: 1px double #660000;
			border-left:1px double #FF0033;
			border-right:1px double #FF0033;
		}
